h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.child-box {
    background-color: lightgrey;
    width: 380px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    float: left; /* Move the box to the left */
    margin: 20px; /* Add some margin for spacing */
}
.child-box p {
    margin: 0;
}
.container {
    position: relative;
    width: 300px; /* Adjust based on your image width */
}
.image {
    width: 100%;
    display: block;
}
.text-box {
    position: absolute;
    bottom: -20px; /* Adjust this value to slightly hide the box */
    top: 50%;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 5px;
    opacity: 0.8; /* Optional: to make the box slightly transparent */
    transform: translateY(-50%); /* Center the box vertically */
}