section{
    height: 200px;
    width: 200px;
    background-color: pink;
    border: 3px solid black;
    /* transition: 1s; */
    transition-duration: 5s;
    transition-property: background-color;
    transition-delay: 2s;
}
section:hover{
    border-radius: 50%;
    background-color: aqua;
}
article{
    margin: 20px;
    border: 2px solid black;
}
article div{
    height: 50px;
    width: 50px;
    background-color: green;
    border: 2px solid black;
    margin: 11px;
}
article:hover div{
    margin-left: 900px;

}
div:nth-last-of-type()